# Local .terraform directories
**/.terraform/*

# .tfstate files (contain sensitive data and resource attributes)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Terraform variable files (likely to contain sensitive data)
*.tfvars
*.tfvars.json

# Ignore override files (often used for local development and not intended for version control)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files (output of 'terraform plan -out=tfplan')
*tfplan*

# Terraform CLI configuration files
.terraformrc
terraform.rc

# macOS system files
.DS_Store

# Lock hcl
.terraform.lock.hcl